In [144]:
import numpy as np
import pandas as pd

In [145]:
ls ../ml-100k/

DATA/              u.genre            u2.test            ua.test
README             u.info             u3.base            ub.base
allbut.pl*         u.item             u3.test            ub.test
itemFeature.csv    u.occupation       u4.base            user_test.csv
mku.sh*            u.user             u4.test            user_train.csv
ratings_test.csv   u1.base            u5.base
ratings_train.csv  u1.test            u5.test
u.data             u2.base            ua.base

In [146]:
cd ../ml-100k/

/Users/Ke/Google Drive/Bit-tiger-AI-Engineer/Week3/Project/ml-100k

In [147]:
ls

DATA/              u.genre            u2.test            ua.test
README             u.info             u3.base            ub.base
allbut.pl*         u.item             u3.test            ub.test
itemFeature.csv    u.occupation       u4.base            user_test.csv
mku.sh*            u.user             u4.test            user_train.csv
ratings_test.csv   u1.base            u5.base
ratings_train.csv  u1.test            u5.test
u.data             u2.base            ua.base

In [148]:
mkdir DATA

mkdir: DATA: File exists

In [149]:
!head u.user

1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

In [150]:
names = ['user_id','age','gender','occupation','zipcode']
userDf = pd.read_csv('u.user',sep='|',names=names, index_col=0) 
userDf = userDf.loc[:, 'age':'occupation']

In [151]:
userDf = pd.get_dummies(userDf)
userDf.head()

,age,gender_F,gender_M,occupation_administrator,occupation_artist,occupation_doctor,occupation_educator,occupation_engineer,occupation_entertainment,occupation_executive,...,occupation_marketing,occupation_none,occupation_other,occupation_programmer,occupation_retired,occupation_salesman,occupation_scientist,occupation_student,occupation_technician,occupation_writer
user_id,,,,,,,,,,,,,,,,,,,,,
1,24,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,53,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,23,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,24,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,33,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [152]:
userDf.to_csv("DATA/userFeature.csv")

In [153]:
!cat u.genre

unknown|0
Action|1
Adventure|2
Animation|3
Children's|4
Comedy|5
Crime|6
Documentary|7
Drama|8
Fantasy|9
Film-Noir|10
Horror|11
Musical|12
Mystery|13
Romance|14
Sci-Fi|15
Thriller|16
War|17
Western|18

In [154]:
!head u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [155]:
genreNames = pd.read_csv('u.genre',sep='|', index_col=0, names=["name","index"]).index.tolist()

In [156]:
itemFeatureDf = pd.read_csv('u.item',sep='\|\|?', index_col=0, names=["itemId","itemName","Date","URL"]+genreNames)

/Users/Ke/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [157]:
itemFeatureDf[itemFeatureDf.isnull().any(axis=1)]

,itemName,Date,URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
itemId,,,,,,,,,,,,,,,,,,,,,
267,unknown,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1358,The Deadly Cure (1996),16-Sep-1996,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1359,Boys in Venice (1996),24-Sep-1996,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [158]:
itemFeatureDf = itemFeatureDf.drop(267)
itemFeatureDf.isnull().any()

itemName       False
Date           False
URL             True
unknown        False
Action         False
Adventure      False
Animation      False
Children's     False
Comedy         False
Crime          False
Documentary    False
Drama          False
Fantasy        False
Film-Noir      False
Horror         False
Musical        False
Mystery        False
Romance        False
Sci-Fi         False
Thriller       False
War            False
Western        False
dtype: bool

In [159]:
itemFeatureDf.to_csv("DATA/itemFeature.csv")

In [160]:
itemFeatureDf.loc[:,["itemName"]].to_csv("DATA/inventory.csv")

In [161]:
!head u.data

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [162]:
names = ['user_id','item_id','rating','timestamp']
dataDf = pd.read_csv('u.data',sep='\t',names=names)

In [163]:
dataDf = dataDf.drop('timestamp',1)

In [164]:
# remove test users from training users

In [165]:
userTrainIndex = userDf.sample(frac = 0.90).index
dataDf_train = dataDf[dataDf.user_id.isin(userTrainIndex.tolist())]

In [166]:
print dataDf.shape
print dataDf_train.shape

(100000, 3)
(90876, 3)

In [167]:
dataDf_test = dataDf.drop(dataDf_train.index)

In [168]:
print dataDf_test.shape

(9124, 3)

In [169]:
dataDf_train.to_csv('DATA/ratings_train.csv')
dataDf_test.to_csv('DATA/ratings_test.csv')
dataDf.to_csv('DATA/ratings.csv')

In [170]:
dataDf_train.head()

,user_id,item_id,rating
0,196,242,3
1,186,302,3
2,22,377,1
3,244,51,2
4,166,346,1